[user]
	name = simplay
	email = silent.simplay@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[diff]
[alias]
  pushf = push --force-with-lease
  pullf = pull -f --rebase
  purge = !git branch --merged | grep -v '\\*' | xargs -n 1 git branch -D
